body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#links {
    margin: auto auto;
}

h1, h2, h3, a {
    text-align: center;
    margin: 20px 50px;
}
h3 {
    font-style: italic;
    font-size: 35px;
}
img {
    height: auto;
    width: 200px;
    margin: 10px auto;
}