* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #board {
    border: 1px solid #000;
    width: 80vw;
    height: 80vh;
    position: relative;
  }
  
  #player {
    background-color: purple;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
  }
  